.email-activation-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-activation-navbar {
  background-color: green;
  width: 100%;
}

.email-activation-navbar__social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
}
